<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
	  Name="ca8f0562-2605-434f-97bd-71ab5cc35bfd"
	  Publisher="CN=Osaxely"
	  Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="ca8f0562-2605-434f-97bd-71ab5cc35bfd" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FilePickerMultiContextTest</DisplayName>
    <PublisherDisplayName>Osaxely</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap:SupportedUsers>multiple</uap:SupportedUsers>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="FilePickerMultiContextTest.App">
      <uap:VisualElements
			  DisplayName="FilePickerMultiContextTest"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="FilePickerMultiContextTest"
			  BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>